---
layout: default
protected: true
---
include ../partials/mixins
//- Content
.carousel.well
	img(src="assets/img/slider_img.png", alt="slider_img")
	p • • •
.carousel-mobile.well
	img(src="assets/img/slider_img.png", alt="slider_img")
	p.slider-bullets • • •
.subcontent
	.well.grid.three-tenths.subcontent--box
		img(src="assets/img/shortcuts/kundeservice.png", alt="slider_img")
	.well.grid.three-tenths.subcontent--box
		img(src="assets/img/shortcuts/mitverdo.png", alt="slider_img")
	.well.grid.three-tenths.subcontent--box
		img(src="assets/img/shortcuts/meldflytning.png", alt="slider_img")
//- skal kun vises på desktop
.productCarousel.eight-tenths
	img(src="assets/img/carousel/carousel.png", alt="produkter")

